<div class="hero-unit" adjustTd=true >
  <div class="span15 offset1">
      <span class="icon-search"></span>
      <span><%= " Search Results for " %></span>
      <span style="color:red">'<%= params[:keyword] %>'</span><br><br>
      <% case params[:model_type] %>
        <% when "Feed" %>
            <%= render "inside_post" %>
        <% when "User" %>
          <% @results.each do |result| %>
            <%= render "/unsigned/search/common_layout",:result => result %>
          <% end %>
        <% when "Circle" %>
            <%= render "inside_circle" %>
        <% when "Chronicle" %>
            <%= render "inside_chronicle" %>
      <% end %>
   <%= paginate @results unless @results.empty? %>
  </div>
</div>