<% @results.each do |result| %>
<div class="span15">
       <div class="row-fluid">
       	<div class="span2">
       		<% if result.user.profile_images.count == 0 %>
                <img  src="/img/default_profile_image_thumb_small.jpg" />
                <% else %>
                  <%= image_tag result.user.profile_images.last.profile_image_url(:profile_image_thumb_small) %>
            <% end %>
        </div>
        <div class="span14">
            <%= link_to result.chronicle_title.capitalize, signed_feeds_path(:feed_type => "chronicle", :chronicle_id => result.id ), :class => "common_link_font" %></br>
            <div style="padding-top:5px;">
            <% display_name = result.user.display_name.blank? ? result.user.first_name.capitalize + " "+ result.user.last_name.capitalize : result.user.display_name.capitalize %>
            By : <%= link_to display_name, signed_user_path(result.user) %>
          </div>
        </div>
        <div class="span5" id="chr_<%= result.id %>">
          <% if current_user != result.user %>
           <%= render "join_chronicle_controles", :result => result %>
          <% end %>
        </div>
       </div><hr>
     </div><br>
<% end %>
