<div  class="hero-unit" adjustTd=true>
  <!--
  <div>
  <%= link_to(image_tag(current_user.profile_image),signed_user_path(:id => current_user.id)) %><br><br>
    <% if   current_user.display_name.blank? %>
      <%= link_to current_user.first_name.capitalize + " "+ current_user.last_name.capitalize, signed_user_path(:id => current_user.id) %>
    <% else %>
      <%= link_to current_user.display_name.capitalize,  signed_user_path(:id => current_user.id) %>
    <% end %>
  </div> --><br><br>
  <% if params[:model_type] != "Chronicle" %>
  <% if params[:model_type] == "Circle" %>
    <div class="well span20" style="background-color:#ebf3f8;">
   <%= form_tag signed_search_index_path, :method => :get do %>
     Refine Search : <br><br>
     <%= text_field_tag :name_filter, nil, :placeholder => "#{params[:model_type]} name" %>
        <div>or</div><br>
     <%= text_field_tag :keyword_filter, nil, :placeholder => "User" %>
     <%= hidden_field_tag :model_type, params[:model_type] %>
     <%= hidden_field_tag :keyword, params[:keyword] %>
     <%= submit_tag "Go", :class => "btn btn-small btn-primary"%>
   <% end %>
  </div>
  <% end %>
  <% if params[:model_type] == "User" %>
    <div class="well span20" style="background-color:#ebf3f8;">
     <%= form_tag signed_search_index_path, :method => :get do %>
       Refine Search : <br><br>
       <%= select_tag :filter, options_for_select(fetch_filters) %>
       <%= hidden_field_tag :model_type, params[:model_type] %>
       <%= hidden_field_tag :keyword, params[:keyword] %>
       <%= submit_tag "Go", :class => "btn btn-small btn-primary"%>
     <% end %>
    </div>
  <% end %>
  <% if params[:model_type] == "Feed" %>
    <div class="well span20" style="background-color:#ebf3f8;">
      <% fetch_filters.each do |feed_type| %>
        <%= link_to feed_type[0],signed_search_index_path(:filter => feed_type[1],:model_type => params[:model_type],:keyword => params[:keyword]) %><br>
      <% end %>
    </div>
  <% end %>
</div>
<% end %>