<div adjustHeight="true">
    <h6 style="color :#696969"><img src="/assets/Account_settings.png"/> <b>Account Settings</b></label>
    <div class="accordion" id="account-management">
       <% cnt = 1 %>
       <% account_setting_hash.keys.each do |ky| %>
         <div class="accordion-group" style="border: 0px">
           <div class="accordion-heading">
             <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#account-management" href="#account_<%= cnt %>" accord-main="accord">
               <h6> <i class=" icon-chevron-right"></i><%= ky %></h6>
             </a>
           </div>
           <div id="account_<%= cnt %>" class="accordion-body collapse">
             <div class="accordion-inner">
               <% account_setting_hash[ky].each do |val| %>
                 <small><a href="?form_type=<%= val.downcase.gsub(' ', '_') %>"><%= val %></a></small><br/>
               <% end %>
             </div>
           </div>
         </div>
        <% cnt += 1 %>
      <% end %>
    </div>
</div>

<script>
  $(document).ready(function(){
	$(document).pjax('a', '#pjax-container');
});
  
</script>
