<script>
  current_id = '<%= @circle_detail.id %>';
</script>

<div id= "title_detail">

   <h5> For '<%= @circle.name %>' <h5>
  <%= simple_form_for @circle_detail,:html => { :class => "form-horizontal" }, :url =>  add_circle_details_signed_users_path, :remote => true do |fd| %>
    <%= hidden_field_tag :partial_name, '', :value => "circle_info" %>
    <%= fd.input :circle_id, :as => :hidden, :input_html => { :value => @circle.id } %>
    <%= hidden_field_tag :id, '', :value => @circle_detail.id %>
    <%= fd.input :title ,:id => "title_id",:class => "field" %>
    <%= fd.input :priority , :as => :hidden, :input_html => { :value => (  @circle.circle_details.nil? ?  1 : @circle.circle_details.count + 1 ) } %>
    <%= fd.input :details, :as => :text, :input_html => { :cols => 50, :rows => 3 } %>
    <%= fd.submit "Add",:class => 'btn-primary',:style => "margin-left:180px" %>
  <% end %>
</div>
