
         <td>
          <span >
           <%= image_tag msg.user.profile_image_thumb %>
          </span>
          <span class=" span_content" style="margin-left:50px; margin-top:-50px;color:#1497e2">
          <% if msg.user.display_name.blank? %>

            <%= link_to msg.user.first_name.capitalize + " " + msg.user.last_name.capitalize,signed_user_path(:id => msg.user.id) %>

          <% else %>
             <%= link_to msg.user.display_name.capitalize , signed_user_path(:id => current_user.id) %>
          <% end %>
          </span>
          <span class="span_content" style="margin-left:50px; margin-bottom:20px; margin-top:-30px; line-height:13px; width:283px;">
          <%= msg.message %>
          </span>
          <span class="span_content"  style="margin-left:50px;margin-top:-18px; ">
            <% if msg.created_at.to_date == Date.today %>
                <%= msg.created_at.strftime("%l:%M%p").to_s %>
            <% elsif msg.created_at.to_date == Date.today-1 %>
                <%= msg.created_at.strftime("Yesterday %l:%M%p").to_s %>
            <% else %>
                <%= msg.created_at.to_date.strftime("%b %d, %Y").to_s %>
            <% end %>
          </span>
         </td>
         </tr>
<tr>
  <td colspan=3><hr style="width:200px; margin-top:-10px; padding-bottom:-1px;"></td>
