<script>
  function get_favourites() {
    $.ajax({
      url: "/feeds/get_favourites",
      dataType: 'script'
    });

  }
</script>

 <div class="span21" style="min-height:5px;"></div>

<div class="span4" style="width:240px;">
  <%= link_to(image_tag("/img/homepage_logo.png"), root_path) %>
</div>

<div class="span5">
  <div class="btn-group">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" >
      <img src="/img/relayimg/nav_pin.png" />
    </a>
    <ul class="dropdown-menu" style="margin-top: -13px">
      <% FeedType.all.each do |ft| %>
        <li class="mainitem">
          <%= link_to "#{ft.post_type}",signed_feeds_path(:feed_type =>
          "Favorites", :type_id => ft.id.to_s) %>
        </li>
      <% end %>
    </ul>
  </div>

  <div class="btn-group">
    <%= (current_user.messages.count > 0) ? (link_to image_tag("/img/relayimg/messages_new.png"), signed_messages_path) :  (link_to image_tag("/img/relayimg/messages_not_new.png"),signed_messages_path) %>
  </div>

  <div class="btn-group">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" >
      <img src="/img/relayimg/settings_default.png" />
    </a>
    <ul class="dropdown-menu" style="margin-top: -13px">
      <li class="mainitem"><%= link_to "Account Settings", manage_signed_users_path %></li>
      <li class="mainitem"><%= link_to "Privacy Settings"  %></li>
      <li class="mainitem"><%= link_to "Walls", signed_user_path(:id => current_user.id) %></li>
      <li class="mainitem"><%= link_to "Feeds", signed_feeds_path  %></li>
      <li class="divider"></li>
      <li class="mainitem"><%= link_to "Log out",logout_unsigned_sessions_path  %></li>
    </ul>
  </div>

  <div class="btn-group">
    <%= (current_user.new_join_requests.count > 0) ? (link_to image_tag("/img/relayimg/join_request_new.png"),join_request_signed_users_path) :  (link_to image_tag("/img/relayimg/join_request_not_new.png"),join_request_signed_users_path) %>
  </div>
</div>

<div class="span5">
  <div class="btn-group">
    <%= form_tag(signed_search_index_path, :method => :get)  do %>
      <select name="model_type" style= "background-color:rgb(84,113,188);width:110px;border:0px;color:white" >
        <option value="Feed" style= "background-color:rgb(84,113,188);color:white">Posts</option>
        <option value="Circle" style= "background-color:rgb(84,113,188);color:white">Circles</option>
        <option value="Chronicle" style= "background-color:rgb(84,113,188);color:white">Fan Pages</option>
        <option value="User" style= "background-color:rgb(84,113,188);color:white">Friends</option>
      </select>
      <input type="text" name="keyword" placeholder="Search here.." />
      <input type="image" src="/img/relayimg/search_icon.png" style="margin-left:-25px;margin-top:-10px;" onsubmit="submit-form();" />
    <% end %>
  </div>
</div>

<div class="span6">
  <% if controller.controller_name == "feeds" or (controller.controller_name == "search_outresults") or (controller.controller_name == "join_requests") or (controller.controller_name == "messages") %>
    <div id="feed_image" style="float: right; margin-left:5px; display : hidden ">
      <%= image_tag("/img/relayimg/feed.png") %>
    </div>
    <div id = "user_select_item" style="float: right; color:white; ">
    </div>
  <% end %>
</div>
