
  <% if !current_user.user_feeds.where(:feed_id => feed.id, 'favourite' => true).empty? %>
    <a href="#" style="color:black;font-size:12px;font-weight:500"><%= feed.user_feeds.where('favourite' => true).count > 0 ? " <img title='pin' src='/img/relayimg/pinned.png' /> #{feed.user_feeds.where('favourite' => true).count}".html_safe : "<img title='pin' src='/img/relayimg/pinned.png' />".html_safe  %></a>

  <% else %>
    <a href="#" , onClick ="onFav('<%= feed.id %>');" id="<%= feed.id %>", style="color:#014F87;font-size:12px;font-weight:500"><%= feed.user_feeds.where('favourite' => true).count > 0 ? " <img src='/img/relayimg/pin.png' /> #{feed.user_feeds.where('favourite' => true).count}".html_safe : "<img src='/img/relayimg/pin.png' />".html_safe  %></a>

  <% end %>

<% unless controller.controller_name == "search_outresults" %>
  <% if feed.user != current_user %>
   
     <a href="#mymessagesModal" data-toggle="modal" id="userSelect-<%= feed.id %>" user_id="<%= feed.user.id %>" user_name="<%= feed.user.first_name %>" style = "color:#014F87;font-weight:500;font-  style:italic;font-size:13px;" onclick="setSelectedUser('<%= feed.id %>')"><small ><%= image_tag("/img/relayimg/private_message.png") %></small></a>
   <% end %>
<% end %>


  <% if feed.public %>
    <% if !current_user.user_feeds.where(:feed_id => feed.id, 'shared' => true).empty? or feed.user_id == current_user.id %>

     <a href="#" style="color:black;font-size:12px;font-weight:500"><%= feed.user_feeds.where('shared' => true).count > 0 ? " <img title='share' src='/img/relayimg/share.png' /> #{feed.user_feeds.where('shared' => true).count}".html_safe : "<img title='share' src='/img/relayimg/share.png' />".html_safe %></a>


    <% else %>

     <a href="#", onClick ="onshared('<%= feed.id %>');" id="<%= feed.id %>", style="color:#014F87;font-size:12px;font-weight:500"><%= feed.user_feeds.where('shared' => true).count > 0 ? " <img src='/img/relayimg/share.png' /> #{feed.user_feeds.where('shared' => true).count}".html_safe : "<img src='/img/relayimg/share.png' />".html_safe %></a>

    <% end %>
  <% end %>
