<%= simple_form_for @user, :url => change_password_form_home_index_path, :remote => true  do |user| %>
  <%= user.fields_for :login do |login|  %>
    <label>Login Email: </label>
    <%= login.text_field :email, :readonly=>"true",:email_id => "login_email" %>
    <div class="pass_fields">
      <%= login.input :password, :label => 'Password'  %>
      <%= login.input :password_confirmation  %>
    </div>
  <% end %>
    <%= user.submit "Update" %>
<% end %>


