<div id="form_login" style="margin-top: 3%">
    <div class="span5">
       <span style="float:right;"><%= link_to(image_tag("/img/homepage_logo.png"), root_path) %></span><br><br><br><br>
       <ul style="float: right; text-align: left ">
         <li class="home_page"><a href="home/about_us" class="home_page"> About us </a></li>
         <li class="home_page"><a href="home/terms" class="home_page"> Terms </a></li>
         <li class="home_page"><a href="home/privacy_cookies" class="home_page"> Privacy & Cookies </a></li>
         <li class="home_page"><a href="home/help_center" class="home_page"> Help Center </a></li>
         <li class="home_page"><a href="home/whats_new" class="home_page"> What's New </a></li>
         <li class="home_page"><a href="home/feed_back" class="home_page"> Feed back </a></li>
       </ul>
    </div>
    <div class="span12">
     <br>
     <%= render "shared/search/search_form"%>
     <div class="transbox">
       <div class= "form_css"><br/>
         <label style="color:white; font-size :200%">Welcome</label><br/>
         <%= render "unsigned/shared/form" %>
         <span style="color:white";>Trouble logging in the site ?</span><%= link_to 'Click here', "#" %>
       </div>
     </div>
     <div class="transbox">
       <div class="form_css"><br/>
         <label style="font-size :120%; color :white">Connect,Circle,Chronicle & Relay.</label><br/>
         <a href="#">Learn</a><span style="color:white";> what's cool about us?</span> <br/><br/>
         <%= link_to 'Sign Up', "#", :class => "btn btn-info " %>
       </div>
     </div>
    </div>

</div>
