
       <div class="span8 offset2">
	     <br><br>
         <label style="font-size:190%">Join Now-It's free </label>
         <div class="well well-small">User Info-</div><br>
           <%= simple_form_for( @user, :url => "#", :html => { :class => "form-horizontal" }) do |f| %>
             <%= f.input :first_name, :label => 'First Name' %>
             <%= f.input :last_name, :label => 'Last Name' %>
             <%= f.association :user_type, :collection => UserType.all, :label => 'User Type' %>
             <%= f.input :birthday, :as => :date, :start_year => Date.today.year - 90,
                              :end_year => Date.today.year - 1,
                              :order => [:month, :day , :year], :label => 'BirthDay', :input_html => {:class => "date",:style => 'width: 85px'} %>
             <%= f.input :phone, :label => 'Phone Number #' %>
            <div class="well well-small">Login Info-</div><br>
              <%= f.fields_for :login do |login|  %>
                <%= login.input :email, :placeholder => 'user@domain.com',:label => 'Login Email' %>
                <%= login.input :master_email, :placeholder => 'user@domain.com',:label => 'Master Email' %>
                <%= login.input :password, :label => 'Password'  %>
                <%= login.input :password_confirmation  %>
              <% end %>
               <div class="well well-small">Site Settings-</div><br>
                 <%= f.input :time_zone,:label => 'Time Zone'%>
                 <% @user.profile_images.build if @user.profile_images.empty? %>
                 <%= f.simple_fields_for :profile_images do |pi|  %>
                    <%= pi.input :profile_image, :as => :file %>
                 <% end %>
               <div>
By Clicking Sign Up,You agree to our <a href="#">Terms</a>
                      & understand our <a href="#">Data Use Policy</a>
               </div><br><br>
                 <%= f.button :submit ,"Sign Up",:class => 'btn-primary',name:"Sign Up" %>
           <% end %>
         </div>


