<tr comment_mood_post="comment_mood_<%= feed.id %>-<%= comment.comment_mood_id %>">
  <td>
   <div class="row-fluid">
    <div class="span2">
      <%= link_to(image_tag(comment.user.profile_image_thumb), signed_user_path(:id => comment.user.id)) %>
    </div>
    <div class="span18">
      <div class="span15 span_content">
        <% if comment.user.display_name.blank? %>
          <%= link_to comment.user.first_name.capitalize + " "+ comment.user.last_name.capitalize , signed_user_path(:id => comment.user.id) %>
        <% else %>
          <%= link_to comment.user.display_name.capitalize , signed_user_path(:id => comment.user.id) %>
        <% end %><br>

        <% if comment.created_at.to_date == Date.today %>
          <%= comment.created_at.strftime("%l:%M%p").to_s %>
        <% elsif comment.created_at.to_date == Date.today-1 %>
          <%= comment.created_at.strftime("Yesterday %l:%M%p").to_s %>
        <% else %>
          <%= comment.created_at.to_date.strftime("%b %d, %Y").to_s %>
        <% end %>
      </div>
      <div class="span3"><%= image_tag comment.comment_mood.enabled_image unless comment.comment_mood.nil? %></div>
    </div>
   </div>
    <div class="span_content row-fluid" style="word-wrap:break-word;width:280px;" >
      <%= comment.comment %>
      <hr/>
    </div>
  </td>
</tr>



