<script>
 var image_path_hash = new Object();
<% CommentMood.each do |cm| %>
 image_path_hash['<%= cm.id %>'] = {enabled_image:"<%= cm.enabled_image %>", disabled_image:"<%= cm.disabled_image %>" }
<% end %>
function hide_comment(comment_mood_id, post_id){
 <!--This is for image mood change logic-->
  $.each($("img[id^=comment_mood_imag_"+post_id+"]"), function(){
    if(comment_mood_id == "All"){
      document.getElementById($(this).attr('id')).src = image_path_hash[$(this).attr('id').split("-")[1]]['enabled_image'];
     }
     else{
        if($(this).attr('id') == "comment_mood_imag_"+post_id+"-"+comment_mood_id){
           document.getElementById($(this).attr('id')).src = image_path_hash[$(this).attr('id').split("-")[1]]['disabled_image'];
         } else{
           document.getElementById($(this).attr('id')).src = image_path_hash[$(this).attr('id').split("-")[1]]['enabled_image'];
         }
    }
  });
  <!--This is for hide comment logic-->
  $.each($("tr[comment_mood_post^=comment_mood_"+post_id +"]"),function(){
    if(comment_mood_id == "All"){
       $(this).show();
       $("#comment_mood_count_"+post_id).html($("tr[comment_mood_post^=comment_mood_"+post_id + "]").length);
     }
     else{
        if($(this).attr('comment_mood_post') == "comment_mood_"+post_id+"-"+comment_mood_id){
           $(this).show();
         } else{
           $(this).hide();
         }
        $("#comment_mood_count_"+post_id).html($("tr[comment_mood_post^=comment_mood_"+post_id +"-"+comment_mood_id+"]").length);
    }
  });  
}
</script>
<div class = "span18">   
<div class ="span2">
<%= link_to "All", "#", :onClick => "hide_comment('All', $(this).attr('post_id'));", :post_id => feed.id  %></div> 
  <div class =span16>
  <% CommentMood.order_by("order ASC").each do |cm| %>
      <%= image_tag  cm.enabled_image, :title => cm.name, :onclick => "hide_comment($(this).attr('comment_mood_id'),$(this).attr('post_id') );",:comment_mood_id => cm.id, :post_id => feed.id, :id => "comment_mood_imag_#{feed.id}-#{cm.id}" %>
    <% end %>
</div>
</div>
