<div class="hero-unit" adjustTd=true>
   <div class="row-fluid">
	  <div class="span8">
		<div class="row-fluid">
		  <div class="span6">
	        <%= image_tag feed.user.profile_image_thumb %>
	      </div>
	      <div class="span15">
	        <%= render "feed_header", :feed => feed %>
	      </div>
	    </div><br>
	  </div>
	  <div class="span13">
	    <%= render "feed_controls", :feed => feed %>
	  </div>

   </div>
   <%= render "feed_content", :feed => feed %>
   <%= render "wow_pin_share",:feed => feed %>
   <%= render "feed_comment", :feed => feed %>
   <%= render "feed_count&commentslist", :feed => feed %>

</div>
