<div class="row-fluid"> 
 <div class="span15"> 
   <div class="row-fluid">  
      <% if @circle.nil? and @chronicle.nil? %>
      <div class="span15">
        <div class="span13">
         <img  src="/img/coolpinshare/share.png" /> 
         <span style= "color:#014F87;font-style:italic;font-size:13px;">share/public</span>
        </div>
        <div class="span2">
         <%= f.input :public, :as => :boolean, label:false %>
        </div>
      </div><br><br>
      <div class="span10">
         <img  src="/img/leftpanel/target_friends.png" />
         <a href="#myModal" data-toggle="modal" style = "color:#014F87;font-weight:500;font-style:italic;font-size:13px;"> 'Connections' </a><%= render "choose_connections" %>
      </div>
      <% end %>
   </div>
 </div><br><br><br>
   <div class="span8">
     <% if current_user.suspend_till.blank? || ( current_user.suspend_till < Time.now ) %>
        <%= f.submit 'relay ', :class => "btn-primary" %>
     <% else %>        
        <button class="btn-primary" type="button">relay</button>
        <h6 style="color:red">The account is suspended for one week for not complying with site terms</h6>
     <% end %>   
   </div>
</div>

<% channel_id = @circle.nil? ? nil : @circle.id.to_s %>
<% channel_id = channel_id || (@chronicle.nil? ? nil : @chronicle.id.to_s) %>
<% channel_id = channel_id || (@connection.nil? ? nil : @connection.id.to_s) %>

<% posted_in = @circle.nil? ? nil : "circle" %>
<% posted_in = posted_in || (@chronicle.nil? ? nil : "chronicle") %>

<% if !channel_id.nil? %>

 <input type="hidden" name="feed[channels][]" value='<%=  channel_id %>'>
<% end %>

<% if !posted_in.nil? %>

 <input type="hidden" name="feed[feed_hash][posted_in]" value='<%=  posted_in %>'>
<% end %>
