<script>
  $(document).ready(function(){
   chronicleId = "<%= @chronicle ? @chronicle.id : '' %>";
   circleId = "<%= @circle ? @circle.id : '' %>";
   connectionId = "<%= @connection ? @connection.id : '' %>";
   MinPost();
   fetch_form($("#post_type_id_post_type").val());
  });
</script>

 <td id="minTd" style="min-width: 50px; display : none;"><%= render "max_post" %></td>
 <td id="formTd" style="display : none;"><%= render "feed_type" %></td>
 <td id="new_td" style="display : none;"></td>
 <%= render "all_feeds", :feeds => @feeds %>
