<script>
  $(document).ready(function(){
   chronicleId = "<%= @chronicle ? @chronicle.id : '' %>";
   circleId = "<%= @circle ? @circle.id : '' %>";
   connectionId = "<%= @connection ? @connection.id : '' %>";
   feedCounter = 0;
   pageIn = '<%= params[:feed_type].present? ? params[:feed_type] : "" %>';
   lastFeed = '<%= @last_feed %>';
   MinPost();
   fetch_form($("#post_type_id_post_type").val());
   typeId = '<%= params[:type_id] %>';
   setTimeout(function(){fetch_older_feeds()},3000);
  });
</script>

 <td id="minTd" style="min-width: 50px; display : none;"><%= render "max_post" %></td>
 <td id="formTd" style="display : none; min-width: 420px;"><%= render "feed_type" %></td>
 <td id="new_td" style="display : none;"></td>
 <%= render "all_feeds", :feeds => @feeds %>
 <td id="old_td" style="display : none;"></td>

<script>
$(document).ready(function(){
				//Examples of how to assign the ColorBox event to elements
				$(".group1").colorbox({rel:'group1'});


				//Example of preserving a JavaScript event for inline calls.
				$("#click").click(function(){
					$('#click').css({"background-color":"#f00", "color":"#fff", "cursor":"inherit"}).text("Open this window again and this message will still be here.");
					return false;
				});
			});
</script>