<script>
function enable_all() {
    $("a[link_id=clickable]").each(function(){
      $(this).attr('class', '') ;
    });
}

function reset_all_icons() {

   $("a[accord-main=accord]").each(function(){
   $(this).find('i').attr('class', 'icon-chevron-right') ;
   $(this).attr('class', 'accordion-toggle collapsed') ;

 });
 }
 $(document).ready(function(){

      //for link color change
      $("a[link_id=clickable]").click(function(){
        enable_all();
        $(this).attr('class', 'disabled');
      });
	//icon change
    $("a[accord-main=accord]").click(function() {
       reset_all_icons();
       $(this).find('i').attr('class', 'icon-chevron-down');
       $(this).attr('class', 'disabled');
    });

    <% if controller.controller_name == "posts" %>
      $("#account").click();
    <% elsif controller.controller_name == "messages" %>
      $("#account_message").click();
    <% end %>


});

</script>
   <div  class="hero-unit"  adjustTd=true>
	<%= link_to(image_tag(current_user.profile_image), signed_user_path(:id => current_user.id)) %><br><br>
    <% display_name = current_user.display_name.blank? ? current_user.first_name.capitalize + " "+ current_user.last_name.capitalize : current_user.display_name.capitalize %>
    <%= link_to display_name, signed_user_path(:id => current_user.id) %>

    <div class="accordion" id="accordion2">
      <div class="accordion-group" style="border: 0px">
        <div class="accordion-heading">
	      <div>
            <a class="accordion-toggle collapsed" id="account" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne" accord-main="accord">
	          <h6><i class=" icon-chevron-right"></i>Connections </h6>
	        </a>
          </div>
	    </div>
	    <div id="collapseOne" class="accordion-body collapse" style="height: 0px; ">
	      <div class="accordion-inner">
	        <dl>
             <dt><span><img src="/img/relayimg/Lists_connections.png" /><small style="margin-left:5px">Update's</small></span></dt>
             <dd style="margin-left:20px"><small><span><%= link_to "My Posts",signed_feeds_path(:feed_type => "my_posts"),:remote => true, :class => "common_link_font",:link_id =>"clickable" %></span><br>
             <span><%= link_to "Latest News Feed", signed_feeds_path(:feed_type => "latest_news_feeds"), :remote => true, :class => "common_link_font", :link_id =>"clickable" %></span><br>
             <br></small></dd>
            <% unless current_user.connections.count == 0 %>
             <dt><span><img src="/img/relayimg/updates_connections.png" /><small style="margin-left:5px">Lists's</small></span></dt>
             <dd style="margin-left:20px"><small>
              <% current_user.connections.each do |con| %>
                 <span><%= link_to con.category_title, signed_feeds_path(:feed_type => "connections", :connection_id => con.id), :remote => true, :class => "common_link_font", :link_id =>"clickable" %></span><br>
              <% end %>
             </small></dd>
            <% end %>
           </dl>
	      </div>
	    </div>
      </div>

      <div class="accordion-group" style="border: 0px">
        <div class="accordion-heading">
	      <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo" accord-main="accord">
	        <h6> <i class=" icon-chevron-right"></i> Circles</h6>
	      </a>
	    </div>
	    <div id="collapseTwo" class="accordion-body collapse">
	      <div class="accordion-inner">
            <dl>
            <% unless current_user.my_circles.count == 0 %>
              <dt><small>User's</small></dt>
	             <dd><small>
               <% current_user.my_circles.each do |circle| %>
                <span><%= image_tag circle.circle_profile_image_min_thumb %></span>
                <span><%= link_to circle.name, signed_feeds_path(:feed_type => "circle", :circle_id => circle.id ), :class => "common_link_font", :remote => true, :link_id =>"clickable" %></span><br>
               <% end %>
              <br></small></dd>
            <% end %>
            <% unless current_user.others_circles.count == 0 %>
              <dt><small>Other's<br></small></dt>
              <dd><small>
               <% current_user.others_circles.each do |circle| %>
                <span><%= image_tag circle.circle_profile_image_min_thumb %></span>
                <span><%= link_to circle.name, signed_feeds_path(:feed_type => "circle", :circle_id => circle.id ), :class => "common_link_font", :remote => true, :link_id =>"clickable" %></span><br>
              <% end %>
              </small></dd>
            <% end %>
            </dl>
          </div>
	    </div>
      </div>

      <div class="accordion-group" style="border: 0px">
       	<div class="accordion-heading">
	      <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree" accord-main="accord">
	        <h6> <i class=" icon-chevron-right"></i>Chronicles</h6>
	      </a>
	    </div>
	    <div id="collapseThree" class="accordion-body collapse">
	      <div class="accordion-inner">
	        <dl>
            <% unless current_user.my_chronicles.count == 0 %>
             <dt><small>User's</small></dt>
             <dd><small><% current_user.my_chronicles.each do |chronicle| %>
               <span><%= image_tag chronicle.user.profile_image_thumb_small_chronicle %></span>
               <span><%= link_to chronicle.chronicle_title, signed_feeds_path(:feed_type => "chronicle", :chronicle_id => chronicle.id ), :remote => true, :class => "common_link_font", :link_id =>"clickable" %></span><br>
             <% end %><br></small></dd>
            <% end %>
            <% unless current_user.other_chronicles.count == 0 %>
             <dt><small>Other's<br></small></dt>
             <dd><small><% current_user.other_chronicles.each do |chronicle| %>
               <span><%= image_tag chronicle.user.profile_image_thumb_small_chronicle %></span>
               <span><%= link_to chronicle.chronicle_title, signed_feeds_path(:feed_type => "chronicle", :chronicle_id => chronicle.id ), :remote => true, :class => "common_link_font", :link_id =>"clickable" %></span><br>
             <% end %><br></small></dd>
            <% end %>
            </dl>
	       </div>
	    </div>
      </div>
    </div>
   </div>

