  <div class="row-fluid">
   <div style="float: left; padding-bottom: 12px;padding-top: 12px;">
    <%= cool_status feed %>
    <%= favorite_status feed %>
    <% if params[:model_type] != "Feed" %>
     <%= shared_status feed %>
     <% if current_user != feed.user %>
      <a href="#mymessagesModal" data-toggle="modal" id="userSelect-<%= feed.id %>" user_id="<%= feed.user.id %>" user_name="<%= feed.user.first_name %>" style = "color:#08C;font-weight:500;font-  style:italic;font-size:13px;" onclick="setSelectedUser('<%= feed.id %>')"><small ><%= image_tag("/img/coolpinshare/private_message.png") + " " + "Message" %></small></a>
      <% end %>
     <% end %>
   </div>
  </div>
 
<% if params[:model_type] != "Feed" %>
  <div class="row-fluid">
    <% if feed.public %>
     <% cus = feed.channels
        cus.delete feed.user.id.to_s 
        cus.delete current_user.id.to_s %>
        
     <% if feed.user_feeds.where(:shared => true).count > 0 %>
      <hr>
      <% if feed.user_feeds.where(:user_id.ne => current_user.id.to_s, :shared => true).count > 0 %>
       Your Friends(s) shared this post: <br>
      <% end %>
      <% User.where(:_id.in => cus ).limit(5).each do |cu| %>
        <% display_name = cu.display_name.blank? ? cu.first_name.capitalize + " "+ cu.last_name.capitalize : cu.display_name.capitalize %>
        <%= link_to(image_tag(cu.profile_image_thumb, :title => display_name), signed_user_path(:id => cu.id)) %>
      <% end %>
      <% end %>
      <hr>
    <% end %>
  </div>
<% end %>  
