  <div class="row-fluid">
    <%= cool_status feed %>
    <span class="span6" id="<%= feed.id.to_s %>_pin"><%= pin_status feed %></span>
    <span class="span6" id="<%= feed.id.to_s %>_share"><%= share_status feed %></span>
  </div>
