
$("#minTd").hide();
$("#formTd").hide();

$("td[tobeRemoved=true]").remove();

<% @feeds.reverse.each do |feed| %> 
  $("#new_td").replaceWith("<td id='new_td' style='display : none'></td><td tobeRemoved=true id='td_<%= feed.id %>'><%= escape_javascript(render 'feed', :feed => feed ) %></td>");
<% end %>
chronicleId = "<%= @chronicle ? @chronicle.id : '' %>";
circleId = "<%= @circle ? @circle.id : '' %>";
connectionId = "<%= @connection ? @connection.id : '' %>";
<% if @status.nil? || @status %>
 $("#formTd").html("<%= escape_javascript(render('feed_type')) %>");
 MinPost();
<% end %>
fetch_form($("#post_type_id_post_type").val());

$("#user_select_item").html("<%= @title %>");
unifyHeights();