<%= render "form_scripts" %>
 <script>
 $(document).ready(function(){
  chronicleId = "<%= @chronicle ? @chronicle.id : '' %>";
  circleId = "<%= @circle ? @circle.id : '' %>";
  connectionId = "<%= @connection ? @connection.id : '' %>";
   $("#span_post_type").hide();
   fetch_form($("#post_type_id_post_type").val());

 });
</script>

 <td id="minTd"><%= render "max_post" %></td>
 <td id="formTd" style="display : none"><%= render "feed_type" %></td>
 <td style="display : none" id="new_td"></td>
 <% @feeds.each do |feed| %>
  <td style="min-width: 360px; max-width: 361px;"><%= render "feed", :feed => feed %></td>
 <% end %>
