

<%= simple_form_for([:signed, @feed], :remote => true) do |f| %>

  <%= f.input :feed, :as => :text, :placeholder => 'Share Whats new.....' , label:false, :input_html => {  :rows => 3, :style => "resize: none; width:260px; "  } %>
  <%= f.input :user_id, :as => :hidden, :input_html => {:value => current_user.id} %>
  <%= f.input :feed_type_id, :as => :hidden, :input_html => {:value => @feed.feed_type_id} %>

  <input type="checkbox"  onclick="if (this.checked) { taguser(), fetch_friends()} else { taguserclose() }">
  <p style = "display :inline;font-size:13px;font-weight:600;font-style:italic">Tag user</p>

  <input type="checkbox"  onclick="if (this.checked) { addlink() } else { addlinkclose() }">
  <p style = "display :inline;font-size:13px;font-weight:600;font-style:italic">Add link</p>
  <br>

   <div id = "taguser_id" style="display:none">
     <p style= "color:grey;font-weight:200;font-style:italic;display:inline;font-size:13px;">Tag user</p>
     <%= f.input :tag_user, label:false%>
   </div>

   <div id = "addlink_id" style="display:none">
     <p style= "color:grey;font-weight:200;font-style:italic;display:inline;font-size:13px;">Add link</p>
     <%= f.input :add_link, label:false%>
   </div><br>
  <%= render "feed_channels", :f => f %>
<% end %>
