<%= javascript_include_tag "jquery.colorbox-min" , "common_layout" %>
<script>
$(document).ready(function(){
    photoOverlay();
});
</script>
<div class="span14 offset6" style="padding-top: 30px;">
     <%= render "shared/search/search_form"%>
</div>
<div class="span20">
  <% if params[:model_type] == "User" %>
  <div class="well span5" style="background-color:#ebf3f8;">
   <%= form_tag unsigned_search_index_path, :method => :get do %>
     Refine Search : <br><br>
     <%= select_tag :filter, options_for_select(fetch_filters) %>
     <%= hidden_field_tag :model_type, params[:model_type] %>
     <%= hidden_field_tag :keyword, params[:keyword] %>
     <%= submit_tag "Go", :class => "btn btn-small btn-primary"%>
   <% end %>
  </div>
  <% end %>
  <% if params[:model_type] == "Feed" %>
    <div class="well span5" style="background-color:#ebf3f8;">
      <% fetch_filters.each do |feed_type| %>
        <%= link_to feed_type[0],unsigned_search_index_path(:filter => feed_type[1],:model_type => params[:model_type],:keyword => params[:keyword]) %><br>
      <% end %>
    </div>
  <% end %>
  <div class="span15 offset1">
      <span class="icon-search"></span>
      <span><%= " Search Results for " %></span>
      <span style="color:red">'<%= params[:keyword] %>'</span><br><br>
        <% case params[:model_type] %>
         <% when "Feed" %>
            <%= render "outside_post" %>
         <% when "User" %>
            <%= render "users" %>
        <% end %>
   <%= paginate @results unless @results.empty? %>
  </div>
</div>
