<!DOCTYPE html>
<html>
  <head>
    <title>Relay Fan</title>
    <%= stylesheet_link_tag    "bootstrap_and_overrides", :media => "all" %>
    <%= javascript_include_tag "application", "common_layout" %>
  </head>
  <body>
    <div class="container-fluid">
     <div class="row-fluid">
       <%= render "header" %>
         <table class="span21 ">
           <tr>
	         <td class="span1"><%= render "left_panel" %></td>
	         <td class="span6"><%= yield %></td>
           </tr>
         </table>
     </div>
   </div>
  </body>
</html>
