<!DOCTYPE html>
<html>
  <head>
    <title>Relay Fan</title>
    <%= stylesheet_link_tag    "bootstrap_and_overrides", :media => "all" %>
    <%= javascript_include_tag "application", "common_layout", "jquery.iframe-transport", "jquery.remotipart" %>
  </head>
  <body>
    <div class="container-fluid">
     <div class="row-fluid">
       <%= render "header" %>
       <%= yield %>
       <%= render "footer" %>
     </div>
   </div>
  </body>
</html>
