<!DOCTYPE html>
<html>
  <head>
    <title>Relay Fan</title>
    <%= stylesheet_link_tag    "bootstrap_and_overrides", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= render "bg_style" %>
  </head>
  <body>
    <div class="container-fluid">
     <div class="row-fluid">
       <%= render "bg_image" %>
       <%= render "header" %>
       <div class="span21">
         <table>
           <tr>
           <div class="span4"><td><%= render "signed/users/left_panel" %></td></div>
           <div class="span16"><td><%= yield %></td></div></tr>
         </table>
       </div>
     </div>
   </div>
  </body>
</html>
