<div id = "create_category_form">
	<h3> Create Connections list</h3>
	<h5> Create New Category</h5>
<%= simple_form_for @connection,:html => { :class => "form-horizontal" }, :url =>  add_category_title_signed_users_path, :remote => true do |fd| %>
       <%= hidden_field_tag :partial_name, '', :value => "manage_connections" %>
       <%= fd.input :category_title ,:id => "category_title_id",:class => "field" %>
       <%= hidden_field_tag :id, '', :value => @connection.id %>
       <%= fd.submit "Add",:class => 'btn-primary',:style => 'margin-left:180px;' %>
<% end %>
</div>



